.doppler-introbox {
  display: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: none;
}

.doppler-introbox .bg-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.doppler-introbox .close {
  position: absolute;
  right: 0px;
  top: 3px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  z-index: 4;
  font-weight: 700;
  cursor: pointer;
}

.doppler-introbox .box {
  display: none;
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  animation: show .3s ease 0s 1 both;
}

@keyframes show {
  0% {
    transform: translate3d(0, 10%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

.doppler-introbox .box .img {
  position: relative;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.doppler-introbox .box .img .web {
  width: 100%;
}

.doppler-introbox .box .text {
  color: #fff;
  padding: 0 10px;
}

.doppler-introbox .box .text h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.doppler-introbox .box .text p {
  margin: 5px auto;
  opacity: .8;
}

.doppler-introbox .box .btn {
  opacity: .8;
  width: 120px;
  line-height: 28px;
  height: 30px;
  margin: 15px auto 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1.5px #FF608A;
  transition: .3s ease;
}

.doppler-introbox .box .btn a {
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 700;
  transition: .1s;
}

.doppler-introbox .box .btn:hover {
  background-color: #FF608A;
}

.doppler-introbox .whoisdesigner {
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 1px;
}

.doppler-introbox .whoisdesigner h3 {
  font-size: 17px;
  display: inline-block;
}

.doppler-introbox .whoisdesigner .who {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-left: -3px;
}

.doppler-introbox .whoisdesigner span {
  font-weight: 700;
}

.mrbartender .who {
  background-image: url("../img/main/designers/zying.jpg");
}

.jimmy .who {
  background-image: url("../img/main/designers/miao.jpg");
}

.jarvish .who {
  background-image: url("../img/main/designers/wei.png");
}

.xltt .who {
  background-image: url("../img/main/designers/zin.png");
}

@media screen and (max-width: 600px) {
  .doppler-introbox .box .text h2 {
    font-size: 20px;
    line-height: 1.3;
  }
  .doppler-introbox .box {
    padding: 5px;
  }
}
