*:not(.fa) {
  font-family: xingothic-tc;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  background-color: #161325;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4 {
  margin: 0;
}

.doppler.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 2.5% 0;
  background-image: linear-gradient(200deg, #302C4B 10%, #161325 100%);
}

@-webkit-keyframes gogo {
  0% {
    -webkit-filter: blur(30px);
            filter: blur(30px);
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes gogo {
  0% {
    -webkit-filter: blur(30px);
            filter: blur(30px);
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

.doppler-content {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 950px;
  height: auto;
  display: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: gogo 2s ease 0s 1 both;
          animation: gogo 2s ease 0s 1 both;
}

.doppler-content h3 {
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.95);
}

.doppler-content h3 b {
  font-size: 35px;
  margin: 0 10px;
}

.doppler-content h3 br {
  display: none;
}

.logo {
  height: 160px;
}

.doppler-howmuch {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  font-size: 0;
}

.doppler-howmuch > div {
  position: relative;
  width: 100%;
  margin: 0 auto 20px;
  background-color: #2F2B45;
  box-shadow: 0 40px 50px 0px rgba(0, 0, 0, 0.55);
  transition: .3s ease;
  cursor: pointer;
  opacity: .95;
}

.doppler-howmuch > div:hover {
  opacity: 1;
  -webkit-transform: scale3d(0.99, 0.99, 1);
          transform: scale3d(0.99, 0.99, 1);
  box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.55);
}

.doppler-howmuch > div:nth-child(1) {
  z-index: 10;
}

.doppler-howmuch > div:nth-child(2) {
  z-index: 9;
}

.doppler-howmuch > div:nth-child(3) {
  z-index: 8;
}

.doppler-howmuch > div:nth-child(4) {
  z-index: 7;
}

.doppler-howmuch .text {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: auto;
  width: 100%;
  vertical-align: top;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.doppler-howmuch .text span {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 10px;
}

.doppler-howmuch .text span b {
  margin: 0 5px;
  color: #85F2D1;
}

.doppler-howmuch .text .online {
  font-size: 13px;
  font-weight: 500;
  opacity: .5;
  position: absolute;
  right: 20px;
  height: 20px;
  line-height: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto auto;
}

.doppler-howmuch .text .title {
  box-shadow: 2px 0 0 -1px rgba(255, 255, 255, 0.5);
  width: 230px;
  display: block;
  line-height: 23px;
  padding-right: 10px;
}

.doppler-howmuch .text .pledged {
  width: 280px;
  margin: 20px 0 20px 15px;
}

.doppler-time {
  color: rgba(255, 255, 255, 0.89);
  margin-bottom: 30px;
}

.doppler-time span {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .doppler-content h3 {
    text-align: center;
    line-height: 1.5;
  }
  .doppler-content h3 b {
    font-size: 30px;
  }
  .doppler-content h3 br {
    display: block;
  }
  .logo {
    height: 120px;
    margin-bottom: 10px;
  }
  .doppler-howmuch .text span {
    font-size: 17px;
  }
  .doppler-howmuch .text .title {
    width: 100%;
    line-height: 23px;
    padding: 10px 0;
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5);
  }
  .doppler-howmuch .text .pledged {
    width: 300px;
    margin: 20px 10px;
  }
}

@media screen and (max-width: 768px) {
  .doppler-howmuch .text .title {
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.3);
    width: calc( 100% - 120px);
  }
  .doppler-howmuch .text .pledged {
    margin: 10px 10px;
  }
}

@media screen and (max-width: 600px) {
  .doppler-content h3 {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .doppler-howmuch > div {
    box-shadow: 0 30px 40px 0px rgba(0, 0, 0, 0.45);
  }
  .doppler-howmuch #xltt {
    margin-bottom: 5px;
  }
  .doppler-howmuch .text span {
    font-size: 17px;
  }
  .doppler-howmuch .text .online {
    display: none;
  }
  .doppler-howmuch .text .title {
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5);
    width: 100%;
    line-height: 23px;
    padding: 10px 0;
  }
  .doppler-howmuch .text .pledged {
    width: 300px;
    margin: 8px 10px 5px;
  }
  .doppler-howmuch .text .backer-count {
    margin-bottom: 10px;
  }
  .doppler-time span {
    display: block;
  }
}
